#page-wrap:after                { content: "Smartphone Layout"}

body                            { background: #333;
                                  font-size: xx-large;
                                }

h2 span, section h3, label.rem  {  display: none;}

input, button                   { font-size:
                                  x-large;
                                }
footer                          { font-size: large;
  width:                        }
